.terms-condition {
    position: relative;
    bottom: 0;
    right: 0;
    text-align: right;
}

.text-area {
    display: inline-block;
    width: 10rem;
    height: 1rem;
    resize: none;
    overflow: hidden;
}

h1 {
    border-top: 1px solid black;
    padding: 1rem;
}
.info {
    padding: 1rem;
    position: relative;
    display: flex;
    margin: auto;
    width: 10rem;
}