.production {
  background-color: #6f5644;
}

.production-image-container {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.production-image {
  position: relative;
  width: 35rem;
  height: 35rem;
  display: block;
  max-width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
}

.production-image:hover {
  border-top-color: #f96300;
  box-shadow: 0px -1px 0px #f96300;
}

.production-button-container  {
  display: flex;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  justify-content: center;
  height: 1rem;
}

.production-button-container button{
  color: #e6e2de;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.production-button-container button:not(:last-child)::after {
  content: " | ";
}

.production-button-container button:focus {
  color: #b0a298;
}