.production-container {
  background-color: #6f5644;
}

.production-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #e6e2de;
  padding: 3rem;
}

.production-design {
  display: flex;
  flex-wrap: nowrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 3rem;
  gap: 1rem;
}

.production-material {
  display: flex;
  flex-wrap: nowrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 3rem;
  gap: 1rem;
}

.production-production {
  display: flex;
  flex-wrap: nowrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 3rem;
  gap: 1rem;
}

.production-item img{
  position: relative;
  width: 35rem;
  height: 25rem;
  display: block;
  max-width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0px -1px 0px #000000;
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  top: -3rem;
}

.production-item img:hover {
  box-shadow: 0px -2px 0px #f96300;
}

.production-button-container {
  position: sticky;
  top: 50px;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  justify-content: center;
  height: 1rem;
  background-color: transparent;
  z-index: 999;
}

.production-button-container button {
  display: flex;
  color: #e6e2de;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.production-button-container button:not(:last-child)::after {
  content: " | ";
  padding-left: 1rem;
}

.production-button-container button:focus {
  color: #b0a298;
}
